
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

h2 {
    padding-top: 15px;
}

ul li {
    margin-bottom: 0.5em;
}

p {
    line-height: 1.5em;
}
