 /*HTML elements */
h1, h2 {
    color: darkgreen;
}

ul {
    margin-top: -10px;
}

li {
    list-style-type: square;
}

/* Element IDs */
#main {
    width: 98%;
    font-family: Fira Mono;
    font-size: 15px;
}
