/* HTML elements */
body {
    font-family: "Courier New", "Courier", "monospace";
    font-size: 16px;
    max-width: 1000px;
    margin: 0 auto;
}

h1, h2 {
    color: #006400;
}

li {
    list-style-type: square;
}

a {
    background-color: #E8E8E8;
    text-decoration: none;
}

a:link {
    color: #000000;
    text-decoration: none;
}

a:active {
    color: #000000;
    text-decoration: none;
}

a:visited {
    color: #000000;
    text-decoration: none;
}

a:hover {
    background-color: #90EE90;
    text-decoration: none;
}
