<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="description" content="">
        <!--<meta name="viewport" content="width=device-width">-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!-- Style sheets -->
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <div class="container">
            <h6>WHO AM I?</h6>
            <p>As you may have figured out by now, I'm <strong>not</strong> Bruce Wayne. My name is Eduardo Ferreira and I'm a learning-oriented software developer with a strong academic research background. I fell in love with computers from the moment I saw "Tron" and "War Games" when I was a kid. My first computer was a ZX Spectrum +2B (a couple of close friends still make fun of me because I never had an Atari...).</p>
            <hr>
            <h6>WHAT DO I DO FOR A LIVING?</h6>
            <p>
                I started out as a research assistant at the <a href="http://nlx.di.fc.ul.pt/" target="_new">NLX-Group</a>, affiliated to the Department of Informatics of the University of Lisbon, Faculty of Sciences. The group pursues research and development activities in the fields of artificial intelligence and cognitive science, with a special focus on natural language and speech interaction. During my time with the group, I developed a named entity recognizer for the Portuguese language which covered entities based on numbers (arabic, roman, fraction and magnitude numerals, measures, time expressions, etc.) and names (people, organizations, locations, etc.).

                Cue the enterprise world. So far, I've basically done a bit of everything by working at several companies that represent a significant subset of what the IT market has to offer (information technologies, billing, telecommunications, pharmaceutical industry, internet search technologies and insurance industry):
                <ul>
                    <li>Coriant</li>
                    <li>Google</li>
                    <li>Hovione</li>
                    <li>Nokia Siemens Networks</li>
                    <li>PT SI</li>
                    <li>TMN</li>
                    <li>VICTORIA Seguros</li>
                </ul>
            </p>
            <hr>
            <h6>WHAT AM I WORKING ON?</h6>
            I'm currently focused on the following list of projects (of all sizes and shapes):
            <ul>
                <li>Develop a major personal project in Python</li>
                <li>Create a set of Natural Language Processing tools</li>
                <li>Develop a regular expression engine</li>
                <li>Explore the wonderful world of: Python and Django | HTML5 and CSS3 | MySQL | Node.js | Mobile SDKs (Google Android and Apple iOS)</li>
            </ul>
            My favorite technologies are:
            <ul>
                <li>Java</li>
                <li>JavaScript</li>
                <li>LaTeX2e</li>
                <li>Python</li>
                <li><a href="http://xkcd.com/208/" target="_new">Regular Expressions</a></li>
            </ul>
            <hr>
            <h6>WHAT MAKES MY CLOCK TICK?</h6>
            <p>
                My main interests span several areas of expertise:
                <ul>
                    <li>Algorithms</li>
                    <li>Artificial intelligence</li>
                    <li>Data structures</li>
                    <li>Mathematics</li>
                    <li>Natural language processing</li>
                    <li>Problem solving</li>
                    <li>Programming languages and techniques</li>
                </ul>
                While I''m not at work, I tend to keep my brain busy with:
                <ul>
                    <li>Cinema (more like an obsession... I wouldn''t hesitate to call myself a movie snob)</li>
                    <li>Comic books</li>
                    <li>LEGO</li>
                    <li>Puzzles</li>
                    <li>Reading</li>
                </ul>
            </p>
            <hr>
            <h6>DISCLAIMER:</h6>
            <p>My views do not reflect those of my past, present, or future employers – i.e., what I post is my opinion. This is, after all, my web site.</p>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
        <script src="js/bootstrap.min.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
